
  <div class="card-header col-md-12 text-center">
      <p>Youth tackle football athletes experienced a median of 378 head impacts per athlete during the season.
Flag football athletes experienced a median of 8 eight head impacts per athlete during the season.
These findings suggest that non-contact or flag football programs may be a safer alternative for reducing head impacts and concussion risk for youth football athletes under age 14.</p>
    <h2>
     Current Teams, Register to play!
    </h2>
  </div>
  {{#each teams as |team|}}


  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h5 class="card-title">
      {{team.team_name}}</h5>
    
    <a href="./layouts/loginauth.handlebars" class="btn btn-primary">Join Team</a>
  </div>


    
 
  
 
 
  {{/each}}
 



<script src="/js/add-team.js"></script>
