
  <div class="card-header col-md-12 text-center">
      <p>Youth tackle football athletes experienced a median of 378 head impacts per athlete during the season.
Flag football athletes experienced a median of 8 eight head impacts per athlete during the season.
These findings suggest that non-contact or flag football programs may be a safer alternative for reducing head impacts and concussion risk for youth football athletes under age 14.</p>
    <h2>
     Current Teams, Register to play!
    </h2>
  </div>
  {{#each teams as |team|}}

{{#each players as |player|}}

  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
 {{/each}}
  <div class="card-body">{{player.username-input-login}}
    <h5 class="card-title">
      {{team.team_name}}</h5>
      <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        View players
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/seeds/playerData.js/:username">Action</a></li>
 
      </ul>
</div>
        {{!-- <button class="btn btn-primary">
      View players
    </button> --}}
    
    <a href="./layouts/loginauth.handlebars" class="btn btn-primary">Join Team</a>
  </div>
  {{/each}}
 
  {{!-- {{/each}} --}}

  {{!-- <div>  --}}
    {{!-- <button class="btn btn-primary">
      View players
    </button> --}}
  {{!-- </div> --}}


    
 
  
 
 
 



<script src="/js/add-team.js"></script>
