{{#if loggedIn}}
<section class="player">
  <img src="/images/{{player.filename}}" alt="{{player.description}}">
  <div class="player-details">
    <h3>{{player.title}}</h3>
  
  
  </div>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}